*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.emoje{
    position: relative;
    border-radius: 50%;
height: 400px;
width: 400px;
background-color: orange;
margin-top: 30px;
margin-left: 40px;
animation: move  7s linear  infinite;
position: relative;


}


@keyframes move{
0%{
top: 0;
left: 0;
background-color: aquamarine;
}



    50%{
        top: 0;
        left: 800px;

        transform: rotate(360deg);
        background-color: red;
    }


    100%{
        top: 0;
        left: 0;
        background-color: purple;
    }
}




.name{
    position: absolute;
    border-radius: 50%;
background-color: black;
height: 50px;
width: 50px;
left: 100px;
top: 80px;


}

.two{
    border-radius: 50%;
    background-color: black;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 250px;
top: 80px;


}



.width{
    
position: absolute;
    border-radius: 30px;
    height: 30px;
    width: 130px;
    background-color: rgba(0, 0, 0, 0.811);

    top: 260px;
    left: 140px;
}